
body
{
background-color: #303030;
font-family: 'Lato', sans-serif;
font-size: 16px;  
margin-left: 0; 
margin-right: 0;
margin-bottom: 0;
margin-top: 0;
}

#container
{
width: 100%;
}

#header
{
color: #FFFFFF;
text-align: left;
font-size: 25px;
padding: 10px; 
}

#logo
{
width: 1000px; 
margin-left: auto;
margin-right: auto; 	
}

#menu
{
background-color: #252525; 
padding: 10px; 
color: 	#FFFFFF;
text-align: center;
}

#cytat
{
	background-color: #003d74;
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	font-style: italic;
	color:#ffffff;
}

#autor
{
	background-color: #003d74;
	padding: 20px;
	text-indent: 700px;
	font-size: 20px;
	color:#ffffff;
}



#navi 
{
float: left;
width: 250px;
margin-top: 20px;
margin-bottom: 20px;
height: 600px;
background-color:#BEBEBE;
border-right: 2px dotted #666666;
padding: 10px;
color: #FFFFFF;
text-align:center; 

}

#textbox
{
float: left;
width: 648px;
margin-top: 20px;
margin-bottom: 20px;
background-color:#dedede;
height: 540px;
padding: 40px;
color: #000000;
text-align: justify;
}

#socials
{	
clear: both;
text-align: center;
background-color: #292929;

}

#socialdiv
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto; 
}

#linkedIn
{
	float: left;
	width: 250px;
	height: 155px;
	background-color: #007bb5;	
}


#yt
{
	float: left;
	width:250px;
	height: 155px;
	background-color: #D94348;
}

#git
{
	float: left;
	width:250px;
	height: 155px;
	background-color: #FFFFFF;	
}

#gplus
{
	float: left;
	width:250px;
	height: 155px;	
	background-color: #d95333;	
}


#footer
{
margin-top: 20px;
padding: 20px;
text-align: center;
color: #FFFFFF; 
}

.content
{
width: 1000px; 
margin-left: auto;
margin-right: auto; 
}

.Tbutton
{
	float: left;
	height: 25px;
	min-width: 50px;
	font-size: 18px;
	padding: 10px;
	border-right: 2px dotted #444444;
}

.Tbutton:hover
{
	background-color: #303030;
	cursor: pointer;
}

.Lbutton
{
height: 25px;
border-bottom: 2px dotted #444444;
min-width: 80px;
font-size: 18px;
padding: 20px;
color: #000000;	
	
}

.Lbutton:hover
{
	background-color: #F36742;
	cursor: pointer;
	color: #FFFFFF;	
}

.dottedline
{
	height: 5px;
	margin-top: 10px;
	margin-bottom:10px;
	border-bottom: 2px dotted #444444;
}

a.links
{
	color: #ffffff;
	text-decoration: none; 
}

a.links2
{
	color: #000000;
	text-decoration: none; 
}

a.sociallink
{	
	width: 250px;
	height: 155px;
	text-decoration: none; 
	color: #000000; 
}

.sticky
{
width: 100%;	
position: fixed;
left: 0;
top: 0; 
z-index: 100; 
}